{% extends "base.html" %}

{% block content %}
  <a class="btn btn-success" href="{% url 'restaurant:dish-create' %}">Create New Dish</a>
  <h1>Dish List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for dish in object_list %}
        <tr>
          <td><a href="{% url 'restaurant:dish-detail' dish.pk %}">{{ dish.name }}</a></td>
          <td>
            <a class="btn btn-primary btn-sm" href="{% url 'restaurant:dish-update' dish.pk %}">Update</a>
            <a class="btn btn-danger btn-sm" href="{% url 'restaurant:dish-delete' dish.pk %}">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No dishes found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
